.column-addNewColumn {
    width: 100%;
    min-width: 250px;
}
.AddNewColumn {
    background-color: rgba(0,0,0,.08);
    height: fit-content;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    width: 100%;
    min-height: 30px;
    text-decoration: none;
    padding: 4px 5px;
}
.AddNewColumn:last-child{
    color:#42526e;
}

.AddNewColumn:hover {
    background-color: rgba(0,0,0,.16);
}
