.App {
    display: flex;
    width: 100%;
    height: 100vh;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    background-image:url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/b09eccabcff51dee6955137d95911ca8/photo-1603173797197-79d8522145bd.jpg");
}
